<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>

<body>
    <h1>Edit Comment</h1>
    <form action="comments/<%=comment.id%>/edit ">
        <textarea name="comment" id="" cols="30" rows="10">
            <%= comment.comment %> 
        </textarea>
        <button>Save</button>
    </form>


</body>

</html>