h1 {
    font-size: 1em;
}

div {
    display: block;
    margin:auto;
    text-align: center;
    border: 1px solid black;
    width: 40%;
}

#pingPong {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}