h1 {
    font-size: 1em;
}

div {
    display: block;
    margin:auto;
    text-align: center;
    border: 1px solid black;
    width: 300px;
}

#pingPong {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.won {
    color: rgb(71, 184, 71);
}

.lost {
    color: rgb(207, 71, 71);
}

#p1ScoreButton {
    background-color: rgb(132, 214, 132)
}

#p2ScoreButton {
    background-color: rgb(38, 113, 211);
}

#reset {
    background-color: red;
}

#buttons {
    display: flex;
    justify-content: stretch;
}

.scoreButtons {
    width: 100px;
    border: none;
    height: 3em;
}