h1 {
    background-color: #2a9d8f;
    border: 5px solid #264653;
    color: #eae2b7;
    padding: 0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align: center;
    margin: 20px auto; /* 20px top-bottom auto left-right */
    font-family: Courier New;
    font-weight: lighter;
}

h1:nth-of-type(2n) {
    background-color: #e9c46a;
}

h1:nth-of-type(3n) {
    background-color: #f4a261;
}

h1:nth-of-type(4n) {
    background-color: #e76f51;
}

h1:hover {
    transform: translateX(50px);
    transition: 2s;
}

section:first-of-type h1:nth-of-type(1) {
    transform: rotate(-45deg);
    transform-origin: bottom right;
    transition: 2s;
}