<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae temporibus voluptatum natus quod, recusandae esse minus tempora, voluptate iste, ut sint rerum rem. Sequi alias voluptate ea excepturi dolores nihil!
    Ratione saepe non nihil cumque consequatur qui repellendus expedita aspernatur accusamus consectetur officiis dolorum eaque voluptatem animi voluptatibus ad aliquam, corrupti dicta cupiditate sit! Dolore nulla nesciunt rerum voluptatibus commodi.
    Similique in earum, voluptatibus inventore architecto, beatae, alias laboriosam voluptas reprehenderit nulla odit perspiciatis eius rerum accusamus. Nisi corporis eaque nulla sit ducimus deserunt dolor pariatur temporibus, neque, ex at!</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium illum doloremque debitis accusantium asperiores quod iste fuga soluta quae veniam distinctio repellendus nulla aliquid eaque, possimus quaerat sequi repudiandae illo?
    Itaque repellat asperiores earum dicta dolor, sapiente odit magnam nostrum blanditiis, ducimus necessitatibus molestias aliquam iste inventore enim, ipsum ratione eum commodi distinctio in culpa ea! Rerum iure nesciunt dolore.
    Nulla reprehenderit quibusdam molestiae fugit aut ipsum facilis vitae beatae similique perferendis amet quod, itaque quaerat cupiditate totam doloribus corporis nemo consequuntur. A, consectetur provident distinctio dolores ducimus numquam excepturi?</p>
</body>
</html>