<%- include('partials/head') %>
    <%- include('partials/navbar') %>
        <h1>The Subreddit <%= subreddit %> Does Not Exist</h1>
        <p>Why not create it?</p>

        <%- include('partials/footer') %>