section {
    width: 80%;
    height: 800px;
    /* background-image: url("https://images.unsplash.com/photo-1547380109-a2fffd5b9036?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2724&q=80");
    background-size: cover; */
    background: center/cover url("https://images.unsplash.com/photo-1547380109-a2fffd5b9036?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2724&q=80");
    margin: 0 auto;
}

h1 {
    font-size: 100px;
    color: white;
}