h1 {
    font-size: 1em;
}

div {
    display: block;
    margin:auto;
    text-align: center;
    border: 1px solid black;
    width: 300px;
}

#pingPong {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.won {
    color: rgb(71, 184, 71);
}

.lost {
    color: rgb(207, 71, 71);
}

#scoreKeeper {
    font-size: 2em;
    font-weight: bold;
}


#p1ScoreButton {
    background-color: rgb(132, 214, 132)
}

#p1ScoreButton:hover {
    background-color: rgb(102, 177, 102)
}

#p2ScoreButton {
    background-color: rgb(38, 113, 211);
}

#p2ScoreButton:hover {
    background-color: rgb(25, 88, 170);
}

#reset {
    background-color: rgb(212, 82, 82);
}

#reset:hover {
    background-color: rgb(202, 45, 45);
}

#buttons {
    display: flex;
    justify-content: stretch;
}

.scoreButtons {
    width: 100px;
    border: none;
    height: 3em;
    color: white;
    font-weight: 800;
    font-size: .8em;
}