<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoilerPlate!</title>
</head>
<body>
    <h1>Before</h1>
    <%- body %>
    <h2>After</h2>
    
</body>
</html>