h1 {
    background-color: palegoldenrod;
    border: 1px solid black;
    display: inline;
}

span {
    background-color: paleturquoise;
    border: 1px solid black;
    display: block;
}

div {
    height: 200px;
    width: 200px;
    background-color: olivedrab;
    border: 5px solid black;
    display: inline-block;
    margin: 15px;
}