/* * {
    color: green;
    background-color: lightblue;
} */

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1, h2 {
    color: #1d3557;
}

#signup {
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #457b9d;
}

.tag {
    background-color: darkslategray;
    font-size: 16px;
}

.post a {
    color: #457b9d;
}

footer a {
    color: #e63946
}